#AuthUserFile /www/htdocs/v107306//web/.htpasswd
#AuthGroupFile /dev/null
#AuthName "Anmeldung"
#AuthType Basic
#<Limit GET>
#require valid-user
#</Limit>

AddHandler php53-cgi .php

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
